In [1]:
import pandas as pd
import seaborn as sns
sns.set()

In [2]:
df_raw = pd.read_csv('King_County_House_prices_dataset.csv')

In [3]:
df_raw[['sqft_lot','sqft_lot15']]

       sqft_lot  sqft_lot15
0          5650        5650
1          7242        7639
2         10000        8062
3          5000        5000
4          8080        7503
5        101930      101930
6          6819        6819
7          9711        9711
8          7470        8113
9          6560        7570
10         9796        8925
11         6000        6000
12        19901       12697
13         9680       10208
14         4850        4850
15         5000        4000
16        14040       14018
17         4300        4300
18         9850        5095
19         9774        8850
20         4980        4980
21        44867       20336
22         6300        7005
23         9643        8386
24         6500        6865
25         4697        4705
26         2691        3573
27         1581        3861
28         6380        6235
29         7173        6026
...         ...         ...
21567      1157        1173
21568       900        1415
21569      5000        5399
21570      1201        1249
21571      1488        1497
21572      1278        1118
21573      4760        4571
21574      9444       11063
21575      3852        5641
21576      1200        1224
21577      8142        7980
21578      5995        5988
21579       981        1282
21580      9437        9421
21581     10125       10125
21582      7866        6500
21583      7838        6814
21584      8088        8964
21585      1179        1253
21586     11968       11303
21587      5536        5731
21588      1126        1230
21589      6023        6023
21590      7200        6200
21591      1294        1265
21592      1131        1509
21593      5813        7200
21594      1350        2007
21595      2388        1287
21596      1076        1357

[21597 rows x 2 columns]

In [ ]:
df_raw[['sqft_lot']]